@model FooterModel

@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Domain.Topics

@inject IWorkContext workContext

<div class="footer">
    <div class="container footer-upper">
        <div class="row">

            <div class="col-sm-9 col-12 footer-block my-account">
                @await Component.InvokeAsync(typeof(FooterMenuViewComponent))
            </div>
            <div class="col-sm-3 col-12 footer-block follow-us">
                @await Component.InvokeAsync(typeof(NewsLetterBoxViewComponent))
                <div class="social">
                    <div class="title">
                        <strong>@T("Footer.FollowUs")</strong>
                    </div>
                    @await Component.InvokeAsync(typeof(SocialButtonsViewComponent))
                </div>
            </div>

        </div>
    </div>
    <div class="footer-lower">
        <div class="footer-info">
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
                <span class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("shippinginfo"))
                </span>
            }
        </div>
        <div class="text-center">
            @if (!Model.HidePoweredByNopCommerce)
            {
                <div class="footer-powered-by">
                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                        Please find more info at https://www.nopcommerce.com/nopcommerce-copyright-removal-key*@
                    Powered by <a href="@(Nop.Services.Common.NopLinksDefaults.OfficialSite.Main)">nopCommerce</a>
                    <a href="https://brainstation-23.com/"> Brainstation </a>
                    <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                </div>
            }
        </div>
        @await Component.InvokeAsync(typeof(StoreThemeSelectorViewComponent))
    </div>

    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.Footer, additionalData = Model })
</div>

<nop-antiforgery-token/>

@*<script asp-location="Footer">
        $(document).ready(function () {
            $('.footer-block .title').on('click', function () {
                var e = window, a = 'inner';
                if (!('innerWidth' in window)) {
                    a = 'client';
                    e = document.documentElement || document.body;
                }
                var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                if (result.width < 769) {
                    $(this).siblings('.list').slideToggle('slow');
                }
            });
        });
    </script>
    <script asp-location="Footer">
        $(document).ready(function () {
            $('.block .title').on('click', function () {
                var e = window, a = 'inner';
                if (!('innerWidth' in window)) {
                    a = 'client';
                    e = document.documentElement || document.body;
                }
                var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
                if (result.width < 1001) {
                    $(this).siblings('.listbox').slideToggle('slow');
                }
            });
        });
    </script>*@
